---
- name: Manage Docker on Fedora
  hosts: fedora_servers
  become: yes

  tasks:

    - name: Install required packages
      dnf:
        name:
          - dnf-plugins-core
          - docker
        state: present

    - name: Enable and start Docker
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Ensure pip is installed
      dnf:
        name: python3-pip
        state: present

    - name: Install Docker Python SDK
      pip:
        name: docker

    - name: Pull Nginx image
      community.docker.docker_image:
        name: nginx
        source: pull

    - name: Run nginx container
      community.docker.docker_container:
        name: my_nginx
        image: nginx
        state: started
        restart_policy: always
        published_ports:
          - "8080:80"





